

<div class="header"><img class="logo-cookbook" src="https://image.noelshack.com/fichiers/2019/07/7/1550413516-logo-cookbook.png" />

<a href ="https://www.lewagon.com/fr/nantes" target="_blank"><img class="logo-lewagon" src="https://www.lacantine.co/wp-content/uploads/2017/09/logo_nantes.png" /></a>

</div>
<div class="app_div"><h1>
  Welcome to the Cookbook app !
</h1>
</div>
