<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<div id="header-background">

<a href="http://localhost:4567/"><img class="logo-cookbook" id="logobase" src="https://image.noelshack.com/fichiers/2019/07/7/1550413516-logo-cookbook.png" /></a>

<a href ="https://www.lewagon.com/fr" target="_blank"><img class="logo-lewagon" src="https://www.lacantine.co/wp-content/uploads/2017/09/logo_nantes.png" /></a>
</div>


<div id='app_div2'class="app_div"><h1 id="header-sentence"><em>Create, Manage and Import your favorites recipes !</em></h1><a id='button-perso2' href='#'><h1 class="button-perso"><em>Start now</em></h1></a></div>

