<link rel="stylesheet" href="/application.css">
<<!-- img style="width: 300px; margin: 20px;" class="logo-lewagon" src="https://www.lacantine.co/wp-content/uploads/2017/09/logo_nantes.png" />
 -->
<div class="app_div"><h1>
  Welcome to the Dav-Cookbook app !
</h1>
</div>
